body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h3 {
    color: #ffffff;
}

p {
    color: #cbcbcb;
}

.site-nav {
    padding: 0px;
    text-align: left; 
}

.nav-links {
    display: flex;
    justify-content: left;
    gap: 5px;
}

.nav-link {
    text-decoration: none;
    color: #cbcbcb;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #2c2c2c33; /* Subtle background change on hover */
    color: #ffffff;
}

#projects {
    background-color: #2c2c2c33;
    padding: 20px 20px;
    color: #ffffff;
    margin-top: 20px;
}

.project-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.project-card-link {
    text-decoration: none;
    color: inherit;
    display: block; 
}

.project-card {
    background-color: #292929;
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 20px;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-link {
    display: inline-block;
    background-color: #5861b5;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.project-link:hover {
    background-color: #0056b3;
}